body {
    font-family: 'Raleway', sans-serif;
}

:root {
    --light-grey: #e0e0e0;
    --dark-grey: #606060;
    --red-bg: #da1e5d;
}

#nav {
    margin-top: 20px;
    margin-left: 64px;

}

h2 {
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

#button1 {
    background-color: rgba(224, 224, 224, 1);
    border-color: transparent;
    Width: 100px;
    Height: 40px;
    border-radius: 14px;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Raleway';
}

#button2 {
    background-color: rgba(224, 224, 224, 1);
    border-color: transparent;
    Width: 100px;
    Height: 40px;
    border-radius: 14px;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Raleway';
}

#button3 {
    background-color: rgba(224, 224, 224, 1);
    border-color: transparent;
    Width: 100px;
    Height: 40px;
    border-radius: 14px;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Raleway';
}

/* for layout 1 */

.layout1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.layout1>.card {
    width: auto;
    height: 100px;
    margin-top: 10px;
    margin-right: 64px;
    margin-bottom: 10px;
    margin-left: 64px;
    background: #DA1E5D;
    border-radius: 14px;
}



/* for layout 2  */

.layout2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.layout2>.card {
    width: 300px;
    height: 250px;
    left: 64px;
    background: #DA1E5D;
    margin-top: 20px;
    margin-right: 64px;
    margin-bottom: 20px;
    margin-left: 64px;
    border-radius: 14px;
}

/* for layout 3 */

.layout3 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.layout3>div {
    text-align: center;
    margin-top: 10px;
    margin-right: 64px;
    margin-bottom: 10px;
    margin-left: 64px;
}

.layout3>#card1 {
    grid-column: 1/13;
    background: #DA1E5D;
    width: auto;
    height: 90px;
    text-align: center;
    border-radius: 14px;
}

.layout3>#card2 {
    grid-column: 1/4;
    background: #DA1E5D;
    text-align: center;
    border-radius: 14px;
}

.layout3>#card3 {
    grid-column: 4/10;
    padding: 150px 5px;
    background: #DA1E5D;
    border-radius: 14px;

}

.layout3>#card4 {
    grid-column: 10/13;
    background: #DA1E5D;
    border-radius: 14px;
}

.layout3>#card5 {
    grid-column: 1/13;
    background: #DA1E5D;
    width: auto;
    height: 90px;
    border-radius: 14px;
}